/*
CSS styles for the DIE Combat Assistant.
https://die.triskaideka.net/
*/

.actor {
  border: 1px solid #666;
  border-radius: 0.5em;
  font-size: 110%;
  line-height: 175%;
  padding: 0.3em;
  margin: 1em;
  text-align: left;
}

.actor h2 {
  display: inline;
  font-size: 100%;
}

.actor.highlighted {
  outline: 3px solid #000;
}

.actor input[name=name] {
  font-size: 110%;
  /* This calculation isn't perfect, but it's meant to ensure that space is
  left for the "engage" and "eliminate" buttons to stay on the same line as the
  actor name field */
  max-width: calc(99% - 4em);
}

.actor input[type=number] {
  text-align: center;
  width: 1.5em;
}

.actor .input_field_set,
.actor .number_field_set {
  margin-right: 0.5em;
  white-space: nowrap;
}

#add_ally,
#add_enemy {
  padding-left: 1em;
  padding-right: 1em;
}

#allies input[name=statuses],
#combat input[name=statuses],
#enemies input[name=statuses] {
  width: 98%;
}

.ally {
  background-color: #eef;
}

body {
  background: url("../images/5905047221_9dac5654f9_o.jpg");
  background-size: 100%;
  border: 0;
  font-family: sans-serif;
  margin: 0;
  padding: 1% 0;
}

.column_controls button {
  margin: 3px;
}

.discriminator::before {
  content: "#";
}
.discriminator.hidden::before {
  content: "";
}

div.section {
  background: #fff;
  float: left;
  margin: 0 1%;
  opacity: 90%;
  padding: 0 0 0.5em 0;
  text-align: center;
  width: 31%;
}

.elim {
  border-radius: 0.5em;
  border-width: 1px;
  float: right;
  width: 1.5em;
}

#end_of_round_marker {
  background: #eee;
}

/*
No point in marking the end of the combat round if there's nobody in combat.
*/
#end_of_round_marker:only-child {
  display: none;
}

.enemy {
  background-color: #fee;
}

h1 {
  margin: 0;
}

/* The target for dragging actor boxes around. */
.handle {
  cursor: move;
  float: left;
  padding-right: 0.25em;
}

#help_link a {
  background-color: #ff9;
  border: 1px solid #666;
  border-radius: 2em;
  font-weight: bold;
  opacity: 90%;
  padding: 1em;
  position: fixed;
  right: -0.5em;
  top: -0.5em;
}

.hidden {
  display: none;
}

.health_warning_unconscious {
  background-color: #faa;
}
.health_warning_dead {
  background-color: #000;
  color: #fff;
}



/* Additional styling for the contents of dialogs. */
.ui-dialog h1 {
  font-size: 125%;
}

.ui-dialog ol > li {
  margin-bottom: 1em;
}



/* Actor profiles. */
#profile_gallery {
  column-width: 9em;
  counter-reset: profilecounter -1;
}

#profile_gallery li, #profile_gallery h2 {
  break-inside: avoid;
}

#profile_gallery li {
  counter-increment: profilecounter;
  margin-right: 2em;  /* Prevents the columns from running into one another. */
}

#profile_gallery li::marker {
  content: counter(profilecounter) ') ';
}

#profile_gallery h2 {
  font-size: 110%;
}

#profile_gallery ol + h2 {
  margin-top: 1.75em;
}

#profile_gallery ol:first-of-type {
  margin-top: 0;
}



/* Controls for statistics. */
.number_field_set {
  background-color: #ffffe6;
  border-bottom-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  padding: 0.05em 0 0.05em 0.25em;
  padding-left: 0.25em;
}

/* I hate using non-standard features, but this feature isn't on a standards
track and I think it's pretty important.  The space wasted by the duplicate
buttons is pretty significant, not to mention that it makes the interface more
confusing. */
.number_field_set input[type=number]::-webkit-outer-spin-button,
.number_field_set input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number_field_set input[type=number] {
  -moz-appearance:textfield;
}
